body {
    background-color: aliceblue;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px rgb(22, 22, 22);
  text-align: center;
  color: #1b1b1b;
  margin: 5px;
}
.container {
    text-align: center;
    margin: 50px
    
}
#results {
    margin: 50px;
}
button {
    min-width: 100px;
    min-height: 30px;
}
button:hover {
background-color: orange;
}