body {
  background-color: rgb(230, 216, 213);
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px rgb(22, 22, 22);
  text-align: center;
  /* text-decoration: none; */
  color: #1b1b1b;
  margin: 5px;
}

.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  height: 50px;
  width: 50px;
  margin: 5px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}
#grey {
  background-color: grey;
  
}
#white {
  background-color: white;

}
#blue {
  background-color: blue;

}
#yellow {
  background-color: yellow;

}
